@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model VehicleManager.Models.VehicleCategory

@{
    ViewData["Title"] = "Details";
}

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="align-items-center">
                    <div>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PricePerDay)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PricePerDay) kr/day
                            </dd>
                        </dl>
                    </div>
                </div>
                @if (HttpContextAccessor?.HttpContext?.Request.Cookies["Role"] == "Admin")
                {
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model?.VehicleCategoryId">Edit</a> |
                        <a asp-action="Index">Back to List</a>
                    </div>
                }

            </div>
        </div>
    </div>
</section>