select option {
    line-height: 20px;
}
.ml-25-p{
    margin-left: 25%;
}

.icon {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
}
.table-responsive {
    font-size: 14px;
}

.table td,
.table th {
    padding: 0.5rem;
    vertical-align: top;
}
